@use "variables";

*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	line-height: 14pt;
	font-size: 15pt;
}

html, body {
	height: calc(100% - 30px);
	font-family: variables.$main-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

main {
	position: relative;
	min-height: 800px;
	z-index:100;
	margin: 30px;
}

ul li {
	list-style: none
}

ul li a {
	display: inline-block;
	position: relative;
}

.large {
  font-size: clamp(1rem, 1.3vw + 0.3rem, 1.8rem); // ~16px to ~32px
  font-weight: 500;
  line-height: clamp(1.4rem, 1.3vw + 0.5rem, 2.2rem); // ~22px to ~38px
}

.large-text * {
  font-size: clamp(1rem, 1.3vw + 0.3rem, 1.8rem);
  font-weight: 500;
  line-height: clamp(1.4rem, 1.3vw + 0.5rem, 2.2rem);
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: black;
}

nav a:hover {
	text-decoration: underline;
}

.svg-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.svg-icon svg {
  width: 1em;          /* This makes SVG scalable relative to the font-size */
  height: 1em;         /* Keeps SVG dimensions proportional */
  vertical-align: middle; /* Aligns vertically with surrounding text */
  fill: currentColor;  /* Optional: SVG color matches the surrounding text color */
}

.svg-icon svg .st0 {
  fill: none;
  stroke: #231f20;
  stroke-width: 2px;
}
