@use "variables";

*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	line-height: 14pt;
	font-size: 15pt;
}

html, body {
	height: calc(100% - 30px);
	font-family: variables.$main-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

main {
	position: relative;
	min-height: 800px;
	z-index:100;
	margin: 30px;
}

ul li {
	list-style: none
}

ul li a {
	display: inline-block;
	position: relative;
}

.large {
  font-size: clamp(1rem, 1.5vw + 0.8rem, 2rem); // ~16px to ~32px
  font-weight: 500;
  line-height: clamp(1.4rem, 1.5vw + 1rem, 2.4rem); // ~22px to ~38px
}

.large-text * {
  font-size: clamp(1rem, 1.5vw + 0.8rem, 2rem);
  font-weight: 500;
  line-height: clamp(1.4rem, 1.5vw + 1rem, 2.4rem);
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: black;
}

nav a:hover {
	text-decoration: underline;
}
