header {
	float: left;
	width: 50%;
}

nav {
	float: right;
	width: 50%;
}

.slider {
	width: 42%;
	height: auto;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.slider img {
	width: 100%;
}

.copy {
	position: absolute;
	top: 0;
	right: 0;
	margin: 30px;
}

@media only screen and (max-width: 1000px) {
	.slider {
		width: calc(100% - 20px);
		position: relative;
		bottom: initial;
		left: initial;
		margin: 10px;
	}

	.copy {
		top: initial;
		text-align: right;
		width: 100%;
	  	margin: 10px;
	}

	main {
		position: relative;
		min-height: 50%;
	  	margin: 10px;
	}

	nav {
		text-align: right;
	}
}
