#modal-projects h2 {
	margin: 30px;
}

ul.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 30px;
}

ul.gallery li {
  margin: 0;
}

figure img {
	width: 100%;
	height: auto;
}

figcaption {
	margin-top: 10px;
	text-align: left;
	line-height: 1.2rem;
}

div.project-container {
  padding: 0 clamp(200px, 10vw, 300px);
}

@media only screen and (max-width: 1000px) {
	ul.gallery {
	  grid-template-columns: 1fr;
	}

  	div.project-container {
	  padding: 0 !important;
	}
}
