#modal-projects h2 {
	margin: 30px;
}

ul.gallery li {
	display: inline-block;
	width: calc(calc(100% - 120px) / 3);
	float: left;
	margin-left: 30px;
	margin-bottom: 60px;
}

figure img {
	width: 100%;
	height: auto;
}

figcaption {
	margin-top: 15px;
	text-align: left;
  	line-height: 1.4rem;
}

div.project-container {
  padding: 0 clamp(200px, 10vw, 300px);
}

@media only screen and (max-width: 1000px) {
	ul.gallery li {
		width: calc(100% - 60px);
		margin-bottom: 30px;
	}

  	div.project-container {
	  padding: 0 !important;
	}
}
